.third-grid-container {
    display: grid;
    padding: 10px;
    gap: 25px;
  }

  .third-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid hsl(243, 100%, 62%);
    color: hsl(213, 96%, 18%);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
  }

  .inpt {
    float: left;
    padding-left: 20px;
    padding-right: 25px;
  }

.description-wrapper {
    float: right;
  }

#price {
  margin-top: -90px;
  float: right;
}

#price h4{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
}
