#main-panel h2 {
    color: hsl(213, 96%, 18%);
    font-size: 35px;
  }
  
  #main-panel p {
    margin-top: -20px;
    color: hsl(231, 11%, 63%);
    font-size: 20px;
  }

  #next {
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    float: right;
  }

  .second-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 35px;
  }

  .second-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid  hsl(231, 11%, 63%);
    border-radius: 10px;
    width: 130px;
    padding: 20px;
    margin-left: -10px;
  }

  .second-grid-item h3{
    margin-top: 30px;
    color: hsl(213, 96%, 18%);
    font-size: 23px;
  }




  