.fourth-grid-container {
   background-color: hsl(233, 44%, 96%);
   padding: 25px;
   border-radius: 10px;
   margin-top: 50px;
   padding-bottom: 100px;
}

#fourth-view-summary {
    margin-top: -25px;
    border-bottom: 2px solid hsl(229, 24%, 87%);
}

#fourth-info {
    float: left;
}

#fourth-view-plan-summary {
    width: 100%;
}

#fourth-view-plan-summary p {
    margin-top: -25px;
    float: right;
}

#fourth-view-summary h3{
    color: hsl(213, 74%, 37%);
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: -5px;
}

#change {
    font-weight: bolder;
    color: hsl(244, 100%, 79%);
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 15px;
}

#fourth-view-info {
    width: 100%;
    margin-top: 50px;
    background-color: hsl(233, 44%, 96%);
}

#fourth-info {
    width: 100%;
    margin-top: -55px;
    margin-bottom: 25px;
}

#fourth-info h3{
    color: hsl(231, 11%, 63%);
    float: left;
    font-weight: 400;
    font-size: 20px;
}

#fourth-info p{
    margin-top: 20px;
    float: right;
}

#fourt-view-bottom {
    margin-top: 50px;
}

#fourth-view-total {
    float: left;
}

#fourth-view-total-price {
    float: right;
}

#fourth-button-wrapper {
    margin-top: 170px;
}

#confirm {
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: hsl(244, 100%, 79%);
    float: right;
}


